@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap");

//////Hk Grotesk Font//////
@font-face {
  font-family: "HK-Grotesk";
  src: url("../fonts/HK-Grotesk/HKGrotesk-Black.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-Bold.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-ExtraBold.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-BoldLegacy.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-Light.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-LightLegacy.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-Medium.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-MediumLegacy.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-Regular.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-RegularLegacy.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-SemiBold.otf");
  src: url("../fonts/HK-Grotesk/HKGrotesk-SemiBoldLegacy.otf");
}
